.form{
  max-width: 1024px;
  width: 70%;
  margin: 70px auto;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
button{
  padding: 10px;
}

@media screen and (max-width: 768px){
  .form{
    flex-direction: column;
    align-items: center;
    margin: 45px auto;
  }
  button{
    margin-top: 5px;
    width: 150px;
    font-size: 1.8rem;
  }
}